<div class="container my-insurance-wrapper" [ngStyle]="{'min-height': innerHeight ? innerHeight : 'auto' }">
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#insuranceAccordian"
                            aria-expanded="false" aria-controls="insuranceAccordian">
                            {{ 'insurance.heading' | cxTranslate }}
                        </a>
                    </h4>

                </div>
                <div id="insuranceAccordian" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div>
                            <div class="container p-0" *ngIf="insurances | async as insurances$">
                                <div *ngFor="let insurance of insurances$; let i=index"
                                    class="box insurances-wrapper col-12 p-0">
                                    <div class="d-flex justify-content-between col-11 cursor-pointer" *ngIf="!insuranceToggle[i]" (click)="insuranceToggle[i] = !insuranceToggle[i]">
                                        <span class="insurances-collapse-text">{{insurance.coverageInfo}}</span>
                                        <span
                                            class="text-right insurances-collapse-text">{{insurance.dateOfExpiry | date: 'mediumDate'}}
                                        </span>
                                    </div>
                                    <div class="col-11" *ngIf="insuranceToggle[i]">
                                        <div class="d-flex justify-content-between cursor-pointer" (click)="insuranceToggle[i] = !insuranceToggle[i]">
                                            <span class='insurance-open-text-header'>{{ 'insurance.insuranceInfo' | cxTranslate }}</span>
                                            <span
                                                class="text-right insurance-open-text">{{insurance.coverageInfo}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class='insurance-open-text-header'>{{ 'insurance.expiryDate' | cxTranslate }}</span>
                                            <span
                                                class="text-right insurance-open-text">{{insurance.dateOfExpiry | date: 'mediumDate'}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class='insurance-open-text-header'>{{ 'insurance.issueDate' | cxTranslate }}</span>
                                            <span
                                                class="text-right insurance-open-text">{{insurance.dateOfIssue | date: 'mediumDate'}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class='insurance-open-text-header'>{{ 'insurance.policyNumber' | cxTranslate }}</span>
                                            <span
                                                class="text-right insurance-open-text">{{insurance.policyNumber}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class='insurance-open-text-header'>{{ 'insurance.plateNumber' | cxTranslate }}</span>
                                            <span
                                                class="text-right insurance-open-text">{{insurance.plateNumber}}</span>
                                        </div>
                                    </div>
                                    <div class="col-1 p-0 cursor-pointer" (click)="insuranceToggle[i] = !insuranceToggle[i]">
                                        <span *ngIf="!insuranceToggle[i]">
                                            <img src="../../assets/icons/icn_rightarrow.png" alt="icn_rightarrow">
                                        </span>
                                        <span *ngIf="insuranceToggle[i]">
                                            <img src="../../assets/icons/icn_dropdown.png" alt="icn_dropdown">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>