<ng-container *ngIf="component.data$ | async as data">

<!-- <div class="container mt-4">
    <div class="row mt-4 mb-4">
        <div class="col-md-6 col-sm-12 p-0 brand-img-container">
            <img class="brand-img w-100" [src]="getUrl(data.media.url)" />
        </div>
        <div class="col-md-6 col-sm-12 p-0 ">
            <div class="position-absolute brand-description-container" >
                <div class="w-75 pull-right">
                    {{data.description}}
                </div>
                
            </div>
            
        </div>
    </div>
    
</div> -->
<div class="container mt-4">
    <div class="row mt-4 mb-4">
        <div class="col-md-7 col-sm-12 p-0 ">
            <div class="position-absolute brand-description-container-left" >
                <div class="w-75 pull-left p-5">
                    {{data.description}}
                </div>
                
            </div>
            
        </div>
        <div class="col-md-5 col-sm-12 p-0 brand-img-container-right">
            <img class="brand-img" [src]="getUrl(data.media.url)" />
            <button class="btn round-default-btn">Visit Site</button>
        </div>
        
    </div>
    
</div>
</ng-container>