<!-- <app-header-menu *ngIf="isLoggedIn"></app-header-menu> -->
<div class="signin-menu">
  <app-signin-menu *ngIf="!isLoggedIn"></app-signin-menu>
</div>

<cx-storefront></cx-storefront>
<!-- <ng-container>
  <cx-page-slot position="HeaderLinks"></cx-page-slot>
</ng-container> -->
<!-- <ng-template #login>
  <app-signin-menu></app-signin-menu>
</ng-template> -->
<ng-template cxOutletRef="PreHeader">
  <ng-container >
    <cx-page-slot position="HeaderLinks"></cx-page-slot>
  </ng-container>
  
</ng-template>