$red : #DD231B;
$desktop: 960px;
$mobile-large: 640px;
form {
    .form-group-wrapper {
        position: relative; 
        padding: 5px 0px;
        img {
            position: absolute;
            padding: 12px 12px; 
        }
    }
    .left-icon {
        img {
            left:  0px;
        }
        .form-control {
            padding-left:  40px !important;
            height: 40px;
        }
    }
    .form-control{
            border: 1px solid #ECECEC;
            box-sizing: border-box;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
            border-radius: 35px;
    }
    .left-and-right-icon {
        .left-img {
            left: 0px;
        }
        .right-img {
            right: 0px;
            top: 4px;
        }
        .form-control {
            padding:  0px 40px !important;
            height: 40px;
        }
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
    }
    .login-text {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .login-extra-text { 
        text-align: center;
        font-size: 12px;
        opacity: 0.7;
    }
    .forget-password-text {
        margin-bottom: 40px;
        text-align: right;
        text-transform: uppercase;
        a {
            font-size: 12px;
            text-decoration: none;
            font-weight: 600;
        }
    }
}

.register {
    text-align: center;
    font-size: 14px;
    padding-top: 40px;
    font-weight: 600;
}

::ng-deep .control-invalid {
    p {
        color: $red;
        font-size: 12px;
        &::before {
            background: none !important;
        }
    }
}

.logo-section{
    text-align: center;
}
.login-header{
    position: relative;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
}
.device-login-view{
    width: 50%;
}

@media only screen and (max-width: $desktop){
    .device-login-view{
        width: 100%;
    }
    .mobile-header-right-align,
    .mobile-header-left-align{
        display: flex;
    }

    .mobile-header-left-align{
        justify-content: flex-start;
    }
    .mobile-header-right-align{
        justify-content: flex-end;
    }
}
