
<!-- <section class="page-section container">
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="section">
        <form (ngSubmit)="submitForm()" [formGroup]="registerForm" #registrationForm="ngForm" >
        <div class="form-group">
          <label>
            <span class="label-content">Register</span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <span class="label-content">Enter Civil ID</span>
            <input
              class="form-control"
              type="text"
              name="civilId"
              placeholder="Civil ID"
              formControlName="civilId"
            />
            <cx-form-errors
                [control]="registerForm.get('civilId')"
              ></cx-form-errors>
          </label>
        </div>
        <div class="form-group">
        <input
              class="form-control"
              type="hidden"
              name="eccCustId"
              formControlName="eccCustId"
            />
        <button type="button"(click)="getECCCustomer()"class="btn btn-block btn-primary">
            Fetch Details
          </button>
        </div>
        <div class="form-group">
          <label>
            <span class="label-content">Name</span>
            <input
              class="form-control"
              type="text"
              name="name"
              formControlName="name"
            />
            <cx-form-errors
                [control]="registerForm.get('name')"
              ></cx-form-errors>
          </label>
        </div>
        <div class="form-group">
            <label>
              <span class="label-content">Arabic Name</span>
              <input
                class="form-control"
                type="text"
                name="arabicName"
                formControlName="arabicName"
              />
              <cx-form-errors
              [control]="registerForm.get('arabicName')"
            ></cx-form-errors>
            </label>
          </div>
          <div class="form-group">
            <label>
              <span class="label-content">Mobile No</span>
              <input
                class="form-control"
                type="text"
                name="mobile"
                formControlName="mobile"
              />
              <cx-form-errors
              [control]="registerForm.get('mobile')"
            ></cx-form-errors>
            </label>
          </div>
         
        <div class="form-group">
          <label>
            <span class="label-content">Email</span>
            <input
              class="form-control"
              type="email"
              name="email"
              formControlName="email"
            />
            <cx-form-errors
            [control]="registerForm.get('email')"
          ></cx-form-errors>

          </label>
        </div>
        <div class="form-group">
            <label>
              <span class="label-content">Password</span>
              <input
                class="form-control"
                type="password"
                name="password"
                formControlName="password"
              />
              <cx-form-errors
              [control]="registerForm.get('password')"
            ></cx-form-errors>
            </label>
          </div>

          <div class="form-group">
            <label>
              <span class="label-content">Confirm Password</span>
              <input
                class="form-control"
                type="password"
                name="confirmpassword"
                formControlName="passwordconf"
              /> <cx-form-errors
              [control]="registerForm.get('passwordconf')"
            ></cx-form-errors>
            </label>
          </div>

        <div class="form-group">
          <div class="form-check">
            <label *ngIf="anonymousConsent$ | async as anonymousConsent">
              <input
                type="checkbox"
                name="newsletter"
                class="form-check-input"
                formControlName="newsletter"
                [checked]="isConsentGiven(anonymousConsent.consent)"
              />
              <span class="form-check-label">
                Sign Up to NewsLetter
              </span>
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="form-check">
            <label>
              <input
                type="checkbox"
                name="termsandconditions"
                formControlName="termsandconditions"
              />
              <span class="form-check-label">
                <a
                  target="_blank"
                >
                T&C*
                </a>
              </span>
              <cx-form-errors
              [control]="registerForm.get('termsandconditions')"
            ></cx-form-errors>
            </label>
          </div>
        </div>
        <button type="button" (click)="sendOTP()" class="btn btn-block btn-primary">
         Register
        </button>
        <a
          class="login-link btn-link" [routerLink]="['/login']" routerLinkActive="router-link-active" 
          >Login</a>
      </form>
    </div>
  </div>
</div>
</section> -->


<section class="page-section container">
  <div class="row justify-content-center">
    <div class="col-md-6 p-0">
      <div class="section">
          <div class="text-right">
            <a [routerLink]="['/login']" >
              <img src="../../assets/icons/icn_close.png" alt="close">
            </a>
          </div>
          <form (ngSubmit)="this.commonService.submitForm('registerCustomer',this.registerForm)" [formGroup]="registerForm" #registrationForm="ngForm" >
            <!-- <input
              class=""
              type="hidden" autocomplete="off"
              name="userCivilId"
             [(ngModel)]="userCivilId"
            /> -->
            <div class="pb-20">
              <div class="signup-text">Signup</div>
              <div class="signup-extra-text">Please enter your details to</div>
              <div class="signup-extra-text">login to the account</div>
            </div>
          <div class="form-group-wrapper left-icon">
            <img src="../../assets/icons/icn_myaccount.png" alt="Name">
            <input type="text" class="form-control" placeholder="Name" formControlName="name" />
            <cx-form-errors [control]="registerForm.get('name')" ></cx-form-errors>
          </div>

          <!-- <div class="form-group-wrapper left-icon">
            <img src="../../assets/icons/icn_myaccount.png" alt="last name">
            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" />
            <cx-form-errors [control]="registerForm.get('lastName')" ></cx-form-errors>
          </div> -->

          <div class="form-group-wrapper left-icon">
            <img src="../../assets/icons/icn_myaccount.png" alt="Arabic Name">
            <input type="text" class="form-control" placeholder="Arabic Name" formControlName="arabicName" />
            <cx-form-errors [control]="registerForm.get('arabicName')" ></cx-form-errors>
          </div>

          <!-- <div class="form-group-wrapper left-icon">
            <img src="../../assets/icons/icn_myaccount.png" alt="arabic last name">
            <input type="text" class="form-control" placeholder="Last Name (arabic)" formControlName="arabicLastName" />
            <cx-form-errors [control]="registerForm.get('arabicLastName')" ></cx-form-errors>
          </div> -->
           
          <div class="form-group-wrapper left-icon">
            <img src="../../assets/icons/icn_myaccount.png" alt="mobile no">
            <input type="text" class="form-control" placeholder="Mobile Number" formControlName="mobile" />
            <cx-form-errors [control]="registerForm.get('mobile')" ></cx-form-errors>
          </div>

          <div class="form-group-wrapper left-icon">
            <img src="../../assets/icons/icn_myaccount.png" alt="email">
            <input type="text" class="form-control" placeholder="Email id" formControlName="uid" />
            <cx-form-errors [control]="registerForm.get('uid')" ></cx-form-errors>
          </div>

          <div class="form-group-wrapper left-icon">
            <img src="../../assets/icons/icn_myaccount.png" alt="Password">
            <input type="password" class="form-control" placeholder="Password" formControlName="password" />
            <cx-form-errors [control]="registerForm.get('password')" ></cx-form-errors>
          </div>

          <div class="form-group-wrapper left-and-right-icon">
            <img class="left-img" src="../../assets/icons/icn_myaccount.png" alt="confirm password">
            <input [type]="showConfPassword ? 'text' : 'password'" class="form-control" placeholder="Confirm Password" formControlName="passwordconf" />
            <!-- <span (click)="alert('hi') && confpassword.type= (confpassword.type=='password' )?'text':'password'"> -->
              <img class="right-img" (click)="toggleShowConfPassword()" *ngIf="!showConfPassword" src="../../assets/icons/icn_view.png" alt="view password">
              <img class="right-img" (click)="toggleShowConfPassword()" *ngIf="showConfPassword" src="../../assets/icons/icn_hide.png" alt="Hide password">
            <!-- </spa/=n> -->
            
            <cx-form-errors [control]="registerForm.get('passwordconf')" ></cx-form-errors>
          </div>
           
          <button type="submit" [disabled]="!registerForm.valid" class="btn btn-block btn-primary mt-20 mb-20">
           Signup
          </button>
          
        </form>
        <div class="have-an-account-wrapper">
          Have an account? 
          <a class="login-link btn-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >
            Login
          </a>
        </div>
      </div>
    </div>
  </div>
  </section>


<div class="modal fade" id="otpPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close mb-0 text-right pr-2 pt-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <div class="form-group">
            <re-captcha
              (resolved)="resolved($event)"
              siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"
          ></re-captcha>
          </div>
          <div class="form-group">
          <label>
            <span class="label-content">Confirm OTP</span>
            <input
              class="form-control"
              type="text"
              name="oneTimePassword"
             [(ngModel)]="oneTimePassword"
            />
          </label>
        </div>
        <button (click)="submitOtp()" class="btn btn-block btn-primary">
         Submit OTP
         </button>
        </div>
      </div>
    </div>
</div>

<!-- <p>Form value: {{ registerForm.value | json }}</p>
  <p>Form valid: {{ registerForm.valid }}</p> -->


  <div class="modal fade" id="civilIdPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <button type="button" class="close mb-0 text-right pr-2 pt-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
        <div class="modal-body">
          <p class="civil-id-header">Civil ID</p>
          <div class="form-group">
          <label>
            <span class="label-content">Civil ID</span>
            <input
              class=""
              type="text" autocomplete="off"
              name="userCivilId"
             [(ngModel)]="userCivilId"
            />
          </label>
        </div>
        <div class="civil-id-btn-wrapper">
          <button (click)="submitCivilId()" class="btn btn-primary civil-id-btn">
            Continue
           </button>
        </div>
        </div>
      </div>
    </div>
</div>



<div class="modal fade" id="userOTPModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <!-- <button type="button" class="close mb-0 text-right pr-2 pt-2" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <div class="modal-body">
      <p class="otp-header">OTP</p>
      <div>
        <p class="otp-extra-text">You should have received an OTP</p>
        <p class="otp-extra-text">Please enter the 6 digit number.</p>
      </div>
      <div class="form-group">
      <label>
        <span class="label-content">OTP</span>
        <!-- <input
          class=""
          type="text" autocomplete="off"
          name="userCivilId"
         [(ngModel)]="userCivilId"
        /> -->
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input>
      </label>
    </div>
    <div class="otp-btn-wrapper">
      <button (click)="submitUserOTP()" class="btn btn-primary otp-btn">
        Confirm
       </button>
       <div>Don't receive an OTP?</div>
    </div>
    </div>
  </div>
</div>
</div>