.header-nav-link{
    padding: 10px 0;
    color: black;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
}