:root{
    --link-water : #d3d6db;
    --white : #ffffff;
}
$red : #DD231B;
$desktop: 960px;
$mobile-large: 640px;
// .banner{
//     background-image: url(../../assets/download.jpg);
//     height: 300px;
//     background-size: 100% 300px;
//     background-repeat: no-repeat;
// }
// .form-wrapper{
//     border: 1px solid;
//     padding: 15px;
//     border-radius: 10px;
//     box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
//     margin: -70px 0 30px 0;
// }
.box-to-line{
    border: none;
    border-bottom: solid black 1px;
    border-radius: 0;
}

// .form-control[type=text]:focus{
//     background-color: var(--white);
// }

.location-btn{
    width: 75%;
}



.rsa-wrapper {
    padding: 50px 0px;
    .label-content {
        font-size: 12px;
        line-height: 14px;
        color: #000000;
        opacity: 0.5;
    }
    select.form-control {
        color: black;
        font-size: 14px;
        line-height: 16px;
        background: inherit;
    }
    textarea.form-control{
        border: 1px solid #000000;
        font-size: 14px;
        border-radius: inherit;
        color: #000000;
        padding: 2px;
        background: inherit;
    }
    .no-warranty-message {
        color: $red;
        padding-left: 15px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
        position: relative;
        &:before {
            content: "";
            background-color: $red;
            border-radius: 50%;
        }
        &:after {
            content: "!";
            color: white;
            font-weight: bold;
            text-align: center;
            line-height: 20px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 20px;
            height: 20px;
        }
    }
    .current-location-wrapper {
        display: flex;
        button {
            background: #F4F4F4;
            font-style: normal;
            font-weight: normal !important;
            font-size: 16px !important;
            border: none;
        }
    }
    input[type='file'] {
        display: none;
    }
    .custom-file-upload {
        background: #F4F4F4;
        border-radius: 80px;
        text-align: center;
        color: #DD231B;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        float: right;
        i {
            margin-left: 10px;
        }
    }
    .attachments {
        float: left;
        margin-top: 12px;
    }
    button[type='submit'] {
        font-weight: normal !important;
        background: #DD231B;
        box-shadow: 0px 4px 4px rgba(221, 35, 27, 0.39);
    }
    .location-input-wrapper{
        padding-left: 30px;
    }
}

@media only screen and (max-width: $desktop){
    .location-btn{
        width: 100%;
    }

}