<!-- <div class="banner"  style="background-image: url(../../assets/download.jpg)">
</div> -->
<div class="container rsa-wrapper">
  <section class="page-section container">
    <div class="row justify-content-center">
      <!-- <div class="col-md-6"> -->
        <div class="section w-100">
        <form class="form-wrapper" style="background-image: url(../../assets/white_bg.jpg)" (ngSubmit)="submitForm()" [formGroup]="rsaForm" novalidate>
          <!-- <div class="form-group mb-5">
              <label>
                <span class="label-content">Roadside Assistance</span>
              </label>
            </div> -->
            <div class="row mb-4">
            <div class="form-group col-md-6">
            <label>
                <span for="name" class="label-content d-block">Vehicle</span></label>
                <fieldset formGroupName="vehicle">
                <select #chassisNumber formControlName="chassisNumber" (change)="getSelectedVehicle(chassisNumber.value)" class="form-control form-control-sm d-block w-100 box-to-line"  *ngIf="vehicleList | async as vehicles$" >
                <option selected value="" disabled>Select Vehicle</option>
                <option
                    *ngFor="let vehicle of vehicles$ "
                    [value]="vehicle.chassisNumber"
                    >{{vehicle.modline}} ,{{vehicle.plateNumber}}</option>
                </select>
                </fieldset>
                <cx-form-errors
                [control]="rsaForm.get('vehicle')"
              ></cx-form-errors>
            
            </div>
            <div *ngIf="!warrantyFlag" class="no-warranty-message">This Vehicle is not covered under warranty</div>
           <div class="form-group col-md-6 col-sm-12 mb-4">
            <label>
                <span for="problem" class="label-content d-block">Problem</span></label>
                <select formControlName="issue" class="form-control form-control-sm d-block w-100 box-to-line mr-4" style="text-align:center"  *ngIf="vehicleList | async as vehicles$" >
                <option selected value="" disabled>Select Here</option>
                <option
                   *ngFor="let issue of IssueTypes | keyvalue"
                    [value]="issue.key"
                    >{{issue.value}} <span *ngIf="!warrantyFlag && issue.key !== 'RSA'"> (Paid Service)</span></option>
                </select>
                <cx-form-errors
                [control]="rsaForm.get('issue')"
              ></cx-form-errors>
            
            </div>
            </div>
          <div class="row mt-3 mb-4">
            <div class="form-group col-md-6 mb-4">
            <label>
              <span class="label-content">Location</span>
               <div class="form-group col-md-12 col-sm-12 p-0">
                <input
                class="form-control form-control-sm d-inline box-to-line"
                type="text"
                name="addressU"
                formControlName="addressU"
                placeholder="Area / City" disabled
              /></div>
            </label>
            <div class="form-group">
                <input
                  class="form-control"
                  type="hidden"
                  name="latitude"
                  formControlName="latitude"
                />
              </div>  
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="hidden"
                  name="longitude"
                  formControlName="longitude"
                /></div>
               <div class="col-md-6 col-sm-12 current-location-wrapper">
                <label> <span class="label-content d-block">Current Location</span></label>
                 <button type="button" class="btn btn-default form-control form-control-sm round-default-btn location-btn" data-toggle="modal" (click)="getCurrentLocation()">
                    <!-- <i class="fa fa-map-marker text-danger mr-4" title="Current Location" aria-hidden="true"></i> -->
                    Get My Current Location
                    <img src="../../assets/svg/location_icon.svg" alt="location">
                  </button>
              </div>  
            </div>
  
            <div class="row mt-3 mb-4">
            <div class="form-group col-md-6 mb-4">
              <label>
                <span for="notes d-block" class="label-content">Notes</span>
                <!-- <input
                  class="form-control box-to-line"
                  type="text"
                  name="notes"
                  formControlName="notes"
                /> -->
                <textarea 
                class="form-control"
                name="notes" rows="3" placeholder="Enter text here"
                formControlName="notes"></textarea>
                <cx-form-errors
                    [control]="rsaForm.get('notes')"
                  ></cx-form-errors>
              </label>
            </div>
            <div class="form-group col-md-6 mb-4">
              <div>
                <label>
                  <span for="attachments d-block" class="label-content attachments">Attachments</span>
                  <label for="myFile" class="custom-file-upload">
                    {{fileName}}  <i class="fa fa-file-text" aria-hidden="true"></i>
                 </label>
                <!-- <input id="file-upload" type="file"/> -->
                  <input
                    class="form-control"
                    type="file" id="myFile"
                    name="attachments"
                    
                    (change)="onFileSelect($event)"
                  />
                  
                  <cx-form-errors
                      [control]="rsaForm.get('attachments')"
                    ></cx-form-errors>
                </label>
              </div>
              <div style="float: right;padding: 5px;"> / </div>
              <div style="float: right;padding-top: 5px;">
                <app-camera-component [formGrp]="this.rsaForm" attachmentId='attachments'></app-camera-component>
              </div>
              
            </div>
          </div>
            <div class="d-flex justify-content-center"><button type="submit"  class="btn btn-default btn-block round-primary-btn mb-4 w-50 mt-5">Submit</button></div>
            <!-- <div><button type="button" (click)="getDriverDetails()"  class="btn btn-primary btn-block">Driver Details</button> </div>  -->
          </form>
        </div>
      <!-- </div> -->
     </div>
    </section>
        <div class="modal fade" id="locationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close mb-0 text-right pr-2 pt-2" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
            <div #map style="width:100%;height:80vh" id="map"></div>
          </div>
        </div>
      </div>
      </div>
  </div> 
    
  