<section class="page-section container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="section">
      <form (ngSubmit)="submitForm()" [formGroup]="rsaForm" novalidate>
        <div class="form-group">
            <label>
              <span class="label-content">Roadside Assistance</span>
            </label>
          </div>
          <div class="form-group">
          <label>
              <span class="label-content">Vehicle</span>
              <select formControlName="vehicle" class="form-control"  *ngIf="vehicleList | async as vehicles$" >
              <option selected value="" disabled>Select Vehicle</option>
              <option
                  *ngFor="let vehicle of vehicles$ "
                  [value]="vehicle.uid"
                  >{{vehicle.model}} ,{{vehicle.chassisNumber}}</option>
              </select>
              <cx-form-errors
              [control]="rsaForm.get('vehicle')"
            ></cx-form-errors>
          </label>
          </div>
          <div class="form-group">
          <label>
              <span class="label-content">Problem</span>
              <select formControlName="issue" class="form-control"  *ngIf="vehicleList | async as vehicles$" >
              <option selected value="" disabled>Select Here</option>
              <option
                 *ngFor="let issue of IssueTypes | keyvalue"
                  [value]="issue.key"
                  >{{issue.value}}</option>
              </select>
              <cx-form-errors
              [control]="rsaForm.get('issue')"
            ></cx-form-errors>
          </label>
          </div>
          <div>Location : Search the location
             <div class="form-group">
              <input
                class="form-control"
                type="hidden"
                name="latitude"
                formControlName="latitude"
              /></div>
              <div class="form-group">
              <input
                class="form-control"
                type="hidden"
                name="longitude"
                formControlName="longitude"
              /></div>
             <div><button type="button" class="btn btn-primary btn-block" (click)="getCurrentLocation()">Get Your Current Location</button></div>  
             <div class="form-group">
              <label>
         <span class="label-content">Your Address</span>
         <input
          class="form-control"
          type="text"
          name="addressU"
          formControlName="addressU"
        />
       </label>
            </div>
            <div #map style="width:100%;height:400px" id="map"></div>
          </div>
          <div class="form-group">
            <label>
              <span class="label-content">Notes</span>
              <input
                class="form-control"
                type="text"
                name="notes"
                formControlName="notes"
              />
              <cx-form-errors
                  [control]="rsaForm.get('notes')"
                ></cx-form-errors>
            </label>
          </div>
          <div class="form-group">
            <label>
              <span class="label-content">Attachments</span>
              <input
                class="form-control"
                type="text"
                name="attachments"
                formControlName="attachments"
              />
              <cx-form-errors
                  [control]="rsaForm.get('attachments')"
                ></cx-form-errors>
            </label>
          </div>
          <button type="submit"  class="btn btn-primary btn-block">Submit</button>
          <div><button type="button" (click)="getDriverDetails()"  class="btn btn-primary btn-block">Driver Details</button> </div> 
        </form>
      </div>
    </div>
   </div>
  </section>
  <p>Form value: {{ rsaForm.value | json }}</p>
  <p>Form valid: {{ rsaForm.valid }}</p> 
  
<div class="container mt-5">
  <form #f="ngForm" novalidate>
    <div class="row mb-4">
      <div class="col-md-6">
        <label for="name" class="d-block">Vehicle Name </label>
        <select class="form-control form-control-sm d-block w-100 box-to-line" id="vehicle" name="vehicle"
           ngModel required>
           <!-- *ngIf="this.vehicleList | async as vehicles" -->
          <!-- <option *ngFor="let vehicle of vehicles" [value]="vehicle.uid">{{vehicle.model}} ,{{vehicle.chassisNumber}} -->
          <!-- </option> -->
        </select>
      </div>
      <div class="col-md-6 col-sm-12 mb-4">
        <label for="problem" class="d-block">Problem </label>
        <select class="form-contorl form-control-sm d-block w-100 box-to-line mr-4" style="text-align:center"
          id="issue" name="issue" ngModel required>
          <option *ngFor="let issue of IssueTypes | keyvalue" [value]="issue.key">{{issue.value}}</option>
        </select>
    </div>
    </div>
    
    <div class="row mt-3 mb-4">
      <div class="col-md-6 col-sm-12">
        <label for="location" class="d-block">Location </label>
        <input class="form-control form-control-sm d-inline box-to-line" type="text" name="latitude" id="latitude"
          placeholder="Area / City" ngModel disabled />
      </div>
      <div class="col-md-6 col-sm-12 mt-4">
        <input type="hidden" name="longitude" id="longitude" ngModel />
        <button class="btn btn-default form-control form-control-sm round-default-btn location-btn" data-toggle="modal"
          (click)="getCurrentLocation()"><i class="fa fa-map-marker text-danger mr-4" title="Current Location"
            aria-hidden="true"></i> Get My Current Location</button>
      </div>
    </div>
    <div class="row mt-3 mb-4">
      <div class="col-md-6 mb-4">
        <label for="notes d-block">Notes</label> <input type="text" class="form-contorl w-100 box-to-line" name="notes"
          ngModel />
      </div>
      <div class="col-md-6 mb-4">
        <label for="attachments d-block">Attachments </label><input type="file" id="myFile" class="mt-1"
          name="attachments" ngModel />
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5"><button (click)="onSubmit(f)" class="btn btn-default btn-block round-primary-btn mb-4 w-50 mt-5">Submit</button> </div>
  </form>

  <div class="modal fade" id="locationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close mb-0 text-right pr-2 pt-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <div #map style="width:100%;height:80vh" id="map"></div>
          <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon" />
            <span id="place-name" class="title"></span><br />
            <span id="place-address"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <p>Form value: {{ f.value | json }}</p>
      <p>Form valid: {{ f.valid }}</p>  -->
