<div class="my-serviceHistorys-wrapper">
    <div class="form-group col-md-6 p-0 vehicles-wrapper">
        <label>
            <span for="name" class="label-content d-block">Vehicles</span></label>
        <fieldset formGroupName="vehicle">
            <select #chassisNumber (change)="getChasisNumber(chassisNumber.value)" class="form-control form-control-sm d-block w-100 box-to-line"
                *ngIf="vehicleList | async as vehicles$">
                <option selected value="" disabled>Select Vehicle</option>
                <option *ngFor="let vehicle of vehicles$ " [value]="vehicle.chassisNumber">{{vehicle.modline}}
                    ,{{vehicle.chassisNumber}}</option>
            </select>
        </fieldset>

    </div>

    <div class="container p-0" *ngIf="serviceHistoryList | async as serviceHistorys$">
        <div *ngFor="let serviceHistory of serviceHistorys$; let i=index" class="box serviceHistory-wrapper col-12 p-0">
            <div class="d-flex justify-content-between col-11" *ngIf="!serviceHistoryToggle[i]">
                <span class="serviceHistory-collapse-text">{{serviceHistory.serviceType}}</span>
                <span class="text-right serviceHistory-collapse-text">{{serviceHistory.serviceDate | date: 'mediumDate'}}
                </span>
            </div>
            <div class="col-11" *ngIf="serviceHistoryToggle[i]">
                <div class="d-flex justify-content-between">
                    <span class='serviceHistory-open-text-header'>Service Type</span>
                    <span class="text-right serviceHistory-open-text">{{serviceHistory.serviceType}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class='serviceHistory-open-text-header'>Service Description</span>
                    <span class="text-right serviceHistory-open-text">{{serviceHistory.serviceDesc}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class='serviceHistory-open-text-header'>Service Date</span>
                    <span class="text-right serviceHistory-open-text">{{serviceHistory.serviceDate | date: 'mediumDate'}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class='serviceHistory-open-text-header'>Service Location</span>
                    <span class="text-right serviceHistory-open-text">{{serviceHistory.location}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class='serviceHistory-open-text-header'>Invested Amount</span>
                    <span class="text-right serviceHistory-open-text">{{serviceHistory.invAmt}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class='serviceHistory-open-text-header'>Mileage</span>
                    <span class="text-right serviceHistory-open-text">{{serviceHistory.mileage}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class='serviceHistory-open-text-header'>Location Code</span>
                    <span class="text-right serviceHistory-open-text">{{serviceHistory.locationCode}}</span>
                </div>
            </div>
            <div class="col-1 p-0">
                <span *ngIf="!serviceHistoryToggle[i]" (click)="serviceHistoryToggle[i] = !serviceHistoryToggle[i]">
                    <img src="../../assets/icons/icn_rightarrow.png" alt="icn_rightarrow">
                </span>
                <span *ngIf="serviceHistoryToggle[i]" (click)="serviceHistoryToggle[i] = !serviceHistoryToggle[i]">
                    <img src="../../assets/icons/icn_dropdown.png" alt="icn_dropdown">
                </span>
            </div>


        </div>
    </div>
</div>