<p>my-vehicles works!</p>

<div class="form-group col-md-6">
    <label>
        <span for="name" class="label-content d-block">Vehicle</span>
        <select formControlName="vehicle" class="form-control form-control-sm d-block w-100 box-to-line"  *ngIf="vehicleList | async as vehicles$" >
        <option selected value="" disabled>Select Vehicle</option>
        <option
            *ngFor="let vehicle of vehicles$ "
            [value]="vehicle.uid"
            >{{vehicle.model}} ,{{vehicle.chassisNumber}}</option>
    </select>
    </label>
    </div>