
:root {
    --dark-gray : #b4b4b4;
    --white: #ffffff;
    --silver: #c2c2c2;
    --fire-engine-red: #dd231b;
}

$desktop: 960px;
$mobile-large: 640px;

.tile-item{
    overflow: hidden !important;
    border-radius: 19px;
    background: linear-gradient(180deg, #b4b4b4, #ffffff, #c2c2c2);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    flex: 0 0 19%;
    height: 197.97px;
    max-height: 197.97px;
    overflow: auto;
    margin: 10px;
}


.tileBannerComponent{
    display: inline-block;
    width: 25%;
}

th{
    text-align: left !important;
    color: var(--white) !important;
}

thead{
    background-color: var(--fire-engine-red);
}

.vehicle-wrapper {
    display: flex;
    padding: 6px;
    background: white;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px 1px white;
    margin: 10px 0;
   .vehicle-collapse-text, .vehicle-open-text , .vehicle-open-text-header{
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
   }
   .vehicle-open-text-header {
    opacity: 0.7;
   }
}

@media only screen and (max-width: $desktop){
    .tileBannerComponent{
        width: 50%;
    }
    .tile-item{
        height: 137px;
        max-height: 137px;
    }
}