<div class="container">
    <div >
        <!-- *ngIf="vehicleList | async as vehicles$" -->
        <table class="table">
            <thead class="d-flex">
                <th class="col-4">Chassis Number</th>
                <th class="col-4">Warranty Type</th>
                <th class="col-4">Warranty Expiry Date</th>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <!--  *ngFor="let vehicle of vehicles$" -->
                    <td class="col-4">test</td>
                    <!-- {{vehicle.chassisNumber}} -->
                    <td class="col-4"> test</td>
                    <!-- {{vehicle.warrantyType}} -->
                    <td class="col-4">test</td>
                    <!-- {{vehicle.warrantyExpiryDate | date: 'yyyy-mm-dd'}} -->
                </tr>
            </tbody>
        </table>
    </div>
</div>