:root {
  --white: #ffffff;
  --gradient-red: #dd231b;
  --maroon: #800500;
  --woodsmoke: #2e3131;
  --free-speech-red: #cc0000;
}
$desktop: 960px;
$mobile-large: 640px;

.bar-icon,
.bar-icon-mobile{
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    font-size: 22px;
    z-index: 1;
    height: 100px; 
    width: 100%;
}
.bar-icon{
    padding: 20px 20px 20px 50px;
    margin: 20px 0px 20px 0px;
    text-align: left;
    color: var(--white);
    width: 20%;
}
.bar-icon-mobile{
  padding: 0;
  text-align: center;
  margin-top: 65px;
  transition: 0.5s;
}

.overlay {
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    bottom: 100%;
    z-index: 1000;
    overflow-x: hidden;
    opacity: 0.75;
    background: linear-gradient(180deg, #dd231b, #800500);
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: -20px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: var(--white);
    display: block;
    transition: 0.3s;
    font-weight: 500;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: var(--woodsmoke);
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 30px;
  }
  
  .childs{
    color: var(--white);
  }

  .bar-icon-mobile-menu-open{
    margin-top: 80vh !important;
    padding: 20px !important;
 }
 
 .bar-icon-mobile-menu-close{
   margin-top: 65px !important;
   padding: 0 !important;
 }

 .overlay-hamburger {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

 .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 1px solid grey;
  padding: 7px;
  // box-shadow: 0px 1px 1px grey;
  // background-color: #ffffff;
  .logo-wrapper {
    margin-right: 10px;
  }
  .header-title {
    font-size :14px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
  }
 }

 .hamburger-menu {
  display: block;
  position: fixed;
  top: 0;
  background: white;
  color: #dd231b;
  height: 100%;
  z-index: 999;
  // z-index: 99999;
  .hamburger-menu-wrapper {
    padding: 0px 50px;
    margin-top: 40px;
    img {
      border-radius: 50%;
    }
    .profile-wrapper {
      padding-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .phone-number {
        font-weight: bold;
        font-size: 22px !important;
        color : #DD231B;
        padding-top: 10px;
      }
    }
    ul {
      list-style-type: none;
      padding-left: 0px;
      li {
        padding: 10px 0;
        color: black;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
        img {
          margin-right: 10px;
        }
      }
    }
    .social-icons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      img {
        margin: 10px;
        width: 28px;
        height: 28px;
      }
    }
  }
  
}

.hamburger-menu{
  display: none;
}

.header-style{
  display: none;
}

.device-header-style{
  display: block;
  left: 50px;
  position: absolute;
}
.device-icon{
  // color: #DD231B;
  font-size: 30px;
}
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 18px}
    .overlay .closebtn {
      font-size: 18px;
      top: 15px;
      right: 35px;
    }
    
  }

  @media only screen and (max-width: $desktop){
    .overlay{
      opacity: 1;
      background: transparent;
      margin-top: -10px;
    }
    .closebtn{
      display: none !important;
    }
    .menu-arrow-red{
      color: #cc0000;
    }
    .menu-arrow-white{
      color: var(--white);
    }

  .overlay-content {
    top: 15%;
  }
  .social-icons{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    i{
      font-size: 30px;
      cursor: pointer;
    }
  }
  .menu-icon{
    font-size: 28px;
    color: #dd231b;
  }
  .header-style{
    display: block;
  }
  
  .device-header-style{
    display: none;
  }

  .cropped1 {
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
    border: 2px solid #dd231b;
  }
}