<div class="header-style" #stickyMenu>
    <div class='header-wrapper'>
        <button (click)="toggleMenu()" class="hamburger">
            <!-- <img src='../../../../assets/icons/menuicon.png'/> -->
            <i class="fa fa-bars menu-icon" aria-hidden="true"></i>
        </button>
        <!-- <div class="header-title">{{title}}</div> -->
        <div class='logo-wrapper'>
            <img src="../../../../assets/icons/alsayerlogo.png" width="55" height="55" [routerLink]='["/"]' >
        </div>
    </div>
    
</div>

<div class="overlay-hamburger" (click)='toggleMenu()' [ngStyle]="{'display': menuState == 'in' ? 'block' : 'none' }"></div>
<div  [@slideInOut]="menuState" class="hamburger-menu" >
    <div class='hamburger-menu-wrapper'>
        <div class="profile-wrapper">
            <img src="../../../../assets/icons/alsayerlogo.png" width="100">
            <div class="phone-number">
                <img src="../../../../assets/svg/contact_icon.svg" width="20" height="20"> 1803803</div>
        </div>
        <ul>
          </ul>
          <app-alsayer-navigation [node]="node$ | async"   [flyout]="false" (toggleMenu)="toggleMenu()"></app-alsayer-navigation>
          <div class="social-icons-wrapper">
              <img src="../../../../assets/icons/icn_fb.png" alt="facebook">
              <img src="../../../../assets/icons/icn_tw.png" alt="twitter">
              <img src="../../../../assets/icons/icn_in.png" alt="linkedin">
        </div>
    </div>
</div>
