<div class="bar-icon" *ngIf="!isMobile">
    <div class="logo-area">
        <a data-toggle="dropdown" id="openNav1" (click)="openMenu()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
    </div>
</div>

<!-- <div class="bar-icon-mobile" id="bar-mobile" *ngIf="isMobile">
    <div class="logo-area">
        <a data-toggle="dropdown" id="openNav1" (click)="openMenu()"  *ngIf="isDropdownOpen">
            
            <i class="fa fa-chevron-up menu-arrow-white" aria-hidden="true"></i>
        </a>
        <a data-toggle="dropdown" id="openNav1" (click)="openMenu()" *ngIf="!isDropdownOpen">
            <i class="fa fa-chevron-down menu-arrow-red" aria-hidden="true" ></i>
            
        </a>
    </div>
</div> -->

<div id="myNav1" class="overlay">
    <a href="javascript:void(0)" class="closebtn" id="closeNav1" (click)="closeMenu()">&times;</a>
    <div class="overlay-content home-link" *ngIf="isLoggedIn">
        <cx-navigation-ui [node]="node$ | async" [ngClass]="styleClass$ | async" [flyout]="false">
        </cx-navigation-ui>
        <div class="social-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>
    <div class="overlay-content guest-user" style="height:100px !important;text-align: center;" *ngIf="!isLoggedIn">
        <a href="/login" class="dropdown-item top-dropdown bg-transparent">Sign In / Login</a>
        <div class="social-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>
</div>
