.custom-file-upload {
    background: #F4F4F4;
    border-radius: 80px;
    text-align: center;
    color: #DD231B;
    // height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    float: right;
    i {
        margin-left: 10px;
    }
}