
:root {
    --dark-gray : #b4b4b4;
    --white: #ffffff;
    --silver: #c2c2c2;
}

$desktop: 960px;
$mobile-large: 640px;

.tile-item{
    overflow: hidden !important;
    flex: 0 0 19%;
    height: 197.97px;
    max-height: 197.97px;
    overflow: auto;
    margin: 10px;
}
.tile-img{
    width: 125px;
}

.tile-headline{
    font-size: 15px;
    padding: 10px;
}

.ServiceTileBannerComponent{
    display: inline-block;
    width: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tile-link{
    color: #000000 !important;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}
.image-width{
    width: 230px;
}
@media only screen and (max-width: $desktop){
    .ServiceTileBannerComponent{
        width: 50%;
    }
    .tile-headline{
        font-size: 14px;
        padding: 0;
    }
    .tile-img{
        width: 70px;
    }
    .tile-item{
        height: 110px;
        max-height: 120px;
    }
    .image-width{
        width: 130px !important;
        margin: 0 -10px;
    }
}