
:root {
    --dark-gray : #b4b4b4;
    --white: #ffffff;
    --silver: #c2c2c2;
}

$desktop: 960px;
$mobile-large: 640px;

.tile-item{
    overflow: hidden !important;
    border-radius: 19px;
    background: linear-gradient(180deg, #b4b4b4, #ffffff, #c2c2c2);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    flex: 0 0 19%;
    height: 197.97px;
    max-height: 197.97px;
    overflow: auto;
    margin: 10px;
}
.tile-img{
    width: 125px;
}

.tile-headline{
    font-size: 15px;
    padding: 10px;
}

.ServiceTileBannerComponent{
    display: inline-block;
    width: 25%;
}

@media only screen and (max-width: $desktop){
    .ServiceTileBannerComponent{
        width: 50%;
    }
    .tile-headline{
        font-size: 14px;
        padding: 0;
    }
    .tile-img{
        width: 70px;
    }
    .tile-item{
        height: 137px;
        max-height: 137px;
    }
}